[submodule "taskMangage"]
	path = taskMangage
	url = https://github.com/Elkfafy/taskMangage
[submodule "simpleBankSystem"]
	path = simpleBankSystem
	url = https://github.com/Elkfafy/simpleBankSystem
[submodule "userDataBase"]
	path = userDataBase
	url = https://github.com/Elkfafy/userDataBase
[submodule "postAppApi"]
	path = postAppApi
	url = https://github.com/Elkfafy/postAppApi
[submodule "angularPostFilter"]
	path = angularPostFilter
	url = https://github.com/Elkfafy/angularPostFilter
